@import "../../../styles/var";
@import "../../../styles/mixins";

* {
  font-family: $main-font;
}

.listItem {
  @include flex-container(row, space-between, center, nowrap);
  width: 100%;
  border: 1px solid $list-item-border-color;
  padding: 5px 20px;
  margin-bottom: 5px;
  box-shadow: $list-item-box-shadow;
  &:last-of-type {
    margin-bottom: 20px;
  }
  &:nth-child(2n) {
    background-color: #f6f6f6;
  }
  &:hover {
    box-shadow: $list-item-box-shadow-hovered;
  }
  &__link {
    @extend %film-title-sm;
    &:hover {
        color: $list-item-link-hovered;
        text-decoration: none;
    }
  }
  &__tags {
    @include flex-container(row, flex-start);
  }
  &__anchor {
    @include flex-container(column, flex-start, flex-start);
  }
}

%tag-item {
  color: $tag-text-color;
  font-family: $secondary-font;
  font-size: 12px;
  padding: 2px 5px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}

.listItem__tagItem {
  @extend %tag-item;
  border: 1px solid $list-item-border-color;
}

.listItem__tagItem__active {
  @extend %tag-item;
  font-weight: 700;
  box-shadow: $list-item-box-shadow;
  background-color: #f3d824;
  border: 1px solid #f3d824;
}

.bookmark-img {
  width: 20px;
  height: 20px;
  &:hover {
    cursor: pointer;
    background: url("../../../assets/images/bookmark-active.png") no-repeat center;
    background-size: 20px, 20px;
  }
}
