html {
  font-family: Open Sans,sans-serif;
}

body * {
  margin: 0;
  padding: 0;
}
@mixin flex-container($f-direction, $jst-content: center ) {
  display: flex;
  align-items: center;
  justify-content: $jst-content;
  flex-direction: $f-direction;
}

.filter-wrapper {
  @include flex-container(column, center)
}

.filter-section {
  @include flex-container(column, center);
  width: 960px;
  padding: 0 35px;
}

.search-block {
  @include flex-container(row, center);
  max-width: 550px;
  width: 100%;
  border: 4px solid red;
  padding: 15px 0;
}

.tabs {
  @include flex-container(row, center);
  max-width: 550px;
  width: 100%;
  border: 4px solid green;
  padding: 15px 0;
}

.list-films {
  @include flex-container(column, space-around);
  max-width: 550px;
  width: 100%;
  border: 4px solid blue;
  padding: 15px 0;
  text-decoration: none;
}

.list {
  list-style: none;
  width: 100%;
}

.listItem {
  @include flex-container(row, space-between);
  text-align: left;
  border: 1px solid hsla(0,0%,80%,.65);
  padding: 5px 20px;
  margin: 5px 0;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: red;
}

.input-search {
  width: 100%;
  height: 30px;
  padding-left: 20px;
}

.btn-tab {
  max-width: 200px;
  width: 100%;
  height: 30px;
  //background-color: #ededef;
  border: 1px solid hsla(0,0%,80%,.65);
  background-size: 20px, 20px;
  margin: 0 15px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  &__active {
    background-color: aqua;
  }
  &:hover {
    background-color: lightblue;
  }
}

.btn-hide {
  display: none;
}

.bookmark-img {
  align-self: end;
  width: 20px;
  height: 20px;
  background-size: 20px, 20px;
}