.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter-section {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px solid grey;
  padding: 0 35px;
}

.search-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid red;
  padding: 15px 0;
}

.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 4px solid green;
  padding: 15px 0;
}

.list-films {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 4px solid blue;
  padding: 15px 0;
}


.title {
  font-size: 1.5em;
  text-align: center;
  color: red;
}