
@mixin flex-container($f-direction, $jst-content: center ) {
  display: flex;
  align-items: center;
  justify-content: $jst-content;
  flex-direction: $f-direction;
}

.filter-wrapper {
  @include flex-container(column, center)
}

.filter-section {
  @include flex-container(column, center);
  width: 960px;
  padding: 0 35px;
}

.search-block {
  @include flex-container(row, center);
  max-width: 550px;
  width: 100%;
  border: 4px solid red;
  padding: 15px 0;
}

.tabs {
  @include flex-container(row, center);
  max-width: 550px;
  width: 100%;
  border: 4px solid green;
  padding: 15px 0;
}

.list-films {
  @include flex-container(column, space-around);
  max-width: 550px;
  width: 100%;
  border: 4px solid blue;
  padding: 15px 0;
}

.title {
  font-size: 1.5em;
  text-align: center;
  color: red;
}

.input-search {
  width: 100%;
  height: 30px;
  padding-left: 20px;
}

.btn-tabs {
  max-width: 200px;
  width: 100%;
  height: 30px;
}